{% extends 'base.html' %}

{% block titulo %}
    Lista de categorías
{% endblock titulo %}

{% block contenido %}
    <h1>Lista de categorías</h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endif %}        
        {% endfor %}
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for dispositivo in object_list  %}
                <tr>
                    <td>{{dispositivo.nombre}}</td>
                    <td>
                        {% if dispositivo.descripcion %}
                            {{dispositivo.descripcion}}    
                        {% else %}
                            No cuenta con descripción
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'editar_dispositivo' dispositivo.id %}">Editar</a>
                        <a class="btn btn-outline-warning btn-sm" href="{% url 'eliminar_dispositivo' dispositivo.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">
                        <p>No existen categorías registradas</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
{% endblock contenido %}
